@import "bootstrap/bootstrap.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.message {
  background: #ececec;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 3px;
  min-height: 40px;
}

.user-message {

}
